@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Segoe';
    src: url('../assests/fonts/segoe/SegoeUI.woff') format('woff');
} */
  
/* body {
  font-family: fantasy;
   
} */

